<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @user.full_name %>,
    </p>
    <p>You have not yet submitted your availability.</p>
    <p>Please submit your availability as soon as possible at <%= link_to 'STC Scheduler', root_url %>. </p>
    <p>
      Thanks!
  
      --STC Scheduler
    </p>
  </body>
</html>
