<div class="container">
  <% if user.user_preferred_locations.empty? %>
    No preference
  <% elsif user.branch&.ct? %>
    <strong>Preferred Location:</strong>
    <span><%= get_preferred_location(user).location&.name %></span>
  <% else %>
    <% user.user_preferred_locations.each do |upl| %>
      <strong><%= upl.location.name %>:</strong>
      <span><%= hours_string(upl.preferred_hours) %></span>
      <br>
    <% end %>
  <% end %>
</div>
