<%= javascript_pack_tag 'upl_form' %>

<%= render 'application/student_step_bar', active: 2, user: @user %> 

<div class="container">
  <h2>Add Location Preferences</h2>
  <% if @user&.branch.present? %>
    <p><b>Branch: </b><%= @user.branch.full_title %></p>
  <% end %>

  <% if @user&.branch&.ct? %>
    <%= form_for @upls, url: user_preferred_locations_path, method: 'post' do |f| %>
      <div class="form-group">
        <label class="location_pref_obj">
          Preferred Location
          <%= f.collection_select :location_id, @user.branch.locations, :id, :name, { include_blank: true }, { id: 'location_pref', class: 'location_pref_obj form-control' } %>
        </label>
      </div>
      <label>
        <%= f.check_box :no_preference %>
        No Location Preference
      </label>
      <div class='mt-3' role="navigation">
        <%= link_to "Back", edit_user_path(current_user), type: 'button', class: "btn btn-secondary btn-lg"%>
        <%= submit_tag 'Next' , class: 'btn btn-yale btn-lg'%>
      </div>
    <% end%>

  <% elsif @user&.branch&.locations.present? %>
    <p>
      <b>Requested hours: </b><%= @user.min_hours %> to <%= @user.max_hours %>
      <br>
      The sum of the hours you choose for each location should fall in the range of your requested hours.
    </p>
    
    <div class="form-group"> 
      <%= form_for :user_preferred_location, url: user_preferred_locations_path do |f| %>
        <p>Number of hours you would like to work in each location:</p>
        <div class="form-row">
          <% @upls.each do |upl| %>
            <%= f.fields_for "[#{upl.location.id}]", upl do |ff|%>
              <label class='location_pref_obj form-group col'>
                <%= upl.location.name%>
                <%= ff.number_field :preferred_hours,
                    min: 0, max: 19, 
                    id: "location_pref_#{upl.location.id}",
                    class: 'location_pref_obj form-control',
                    'aria-label': "preferred hours for #{upl.location.name}" %>  
              </label>
            <% end%>
          <% end %>
        </div>
        <label>
          <%= f.check_box :no_preference %>
          No Location Preference
        </label>
        <div class='mt-3' role="navigation">
          <%= link_to "Back", edit_user_path(current_user), type: 'button', class: "btn btn-secondary btn-lg"%>
          <%= submit_tag 'Next' , class: 'btn btn-yale btn-lg'%>
        </div>
      <% end%>
    </div>
  <% elsif @user.branch.present? %>
    <p>No locations. Please click next.</p>
    <div role="navigation">
      <%= link_to 'Back', edit_user_path(@user), type: 'button', class: 'btn btn-secondary btn-lg'%>
      <%= link_to 'Next', calendar_availabilities_path, type: 'button', class: 'btn btn-yale btn-lg'%>
    </div>
  <% else %>
    <p>Please select your branch in the user profile.</p>
    <div role="navigation">
      <%= link_to 'Back', edit_user_path(@user), type: 'button', class: 'btn btn-secondary btn-lg'%>
    </div>
  <% end %>
</div>
