<div id="cal_div" class="container" >
  <table class="table calendar-table" id="<%= table_id %>">
    <thead>
      <tr>
        <th scope="col" id="time_header"></th>
	<th> Available
	  <button type="button" id="collapse-details">collapse</button>
	  <button type="button" id="expand-details">expand</button>
	</th>
	<% if selected_user %>
           <%= content_tag :th, selected_user.full_name,
	                        class: 'selected' %>
        <% end %>
	<th> Scheduled </th>   
      </tr>
    </thead>
    <tbody>
      <% times(time_range).each do |time| %>
        <tr id="t<%= time %>">
          <% if time_displayed?(time) %>
            <th scope="row"><%= display_time(time) %></th>
          <% else %>
            <th scope="row">&nbsp</th>
          <% end %>

	  <% id = time_to_id(day, time) %>
	  <% available = available_users_slot(users, id) %>
	  <% if available.empty? %>
	    <td></td>
	  <% else %>
	    <td>
	      <details>
		<summary>
		  <%= available.size %> available
		</summary>
	          <% available.each do |user| %>
	            <%= link_to user.full_name, user_link(user: user, chair: selected_chair, location: location) %>
	          <% end %>
	      </details>
	    </td>
	  <% end %>

	  <% if selected_user %>
	    <%= content_tag :td, '', {id: id}.merge(styling.call(id, selected_user, true)) %>
	  <% end %>

	  <% scheduled = users.filter { |u| u.scheduled?(id) } %>
	  <% if scheduled.empty? %>
	    <td></td>
	  <% else %>
	    <% scheduled.each do |u| %>
	      <td> <%= u.full_name %> </td>
	    <% end %>
	  <% end %> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
