<div
  <% if !@selected_chair.nil? && !selected_user.available_during?(@selected_chair)%>
    class="greyed-out"
  <% end %>>
  <h3>
    Availability
  </h3>
  <ul>
    <% if availabilities.empty? %>
      <p>None</p>
    <% else %>
      <% availabilities.each do |avail| %>
        <li> <%= avail.day %> <%= display_time(avail.start_time) %> to 
        <%= display_time(avail.end_time) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
