<%= javascript_pack_tag 'user_list' %>

<div class='users-list'>
  <div id='users-list-header'>
    <div class='mb-1'><b>Employees</b></div>
    <div id='filter'>
      <i id='filter-icon' class="fas fa-filter"></i>
      <select id='filter-dropdown'>
        <option selected value='last_name'>Sort by...</option>
        <option value='special_requests'>Special request</option>
        <option value='hour_differential'>Hour differential</option>
        <option value='lead'>Position</option>
      </select>
    </div>
  </div>
  <div id="accordion">
    <% users.each_with_index do |user, index| %>
      <div class="<%= "card #{ user == selected_user ? 'selected-user': ''} #{ user_list_greyed_out(user, @selected_chair) ? 'greyed-out' : ''}"%>" id="u<%= index %>" data-info="<%= user.to_json %>" data-scheduled="<%= user.mins_covered.to_json %>">
        <a href="<%= user_link(user: user, chair: selected_chair, location: location) %>" class='user'>
          <div class="card-header mb-0" id='<%= "heading#{index}" %>'>
            <div>
              <div aria-expanded="<%= selected?(user.id, :user) %>" aria-controls='<%= "collapse#{index}" %>'>
                <div class="user__heading">
                  <div class="user__heading--top-row">
                    <span>
                      <%= user.full_name %>
                    </span>
                  </div>
                  <div>
                    <%= user.mins_covered / 60.0 %>/<%= user.target_hours.present? ? user.target_hours : 'None' %>
                  </div> 
                  <div id='special-request-<%=index%>' class="special-request-text collapse"><%= user.special_requests %></div>
                </div>
              </div>
            </div>
            <div class='icon-wrapper'>
              <%= icon_button(user.lead?, id=nil, classes=['fas', 'fa-heading', 'lead-icon']) %>
              <%= icon_button(user.special_requests.present?, id="icon-#{index}", classes=['fas', 'fa-star', 'special-request-icon']) %>
            </div> 
          </div>
          <div id='<%= "collapse#{index}" %>' class="<%= selected?(user.id, :user) ? '' : 'collapse' %>" aria-labelledby='<%= "heading#{index}" %>'>
            <div class="card-body" style="overflow: hidden">
	      <% if user == selected_user %>
              <%= render partial: 'application/calendar_bare',
		  locals: {
		  table_id: 'mini-calendar',
		  display_times: [800,1200, 1700],
		  time_disp_abbrev: true,
		  day_names: %w( S M T W T F S ),
		  styling: mini_calendar_styling(selected_user),
		  }%>
	      <% end %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
