<div style="display:inline-block; float:left; 
  width:80%; padding-bottom:80px" > 
  <h1>Heatmap</h1>
  <%= render :partial => 'application/calendar_bare', 
  :locals => {:styling => heatmap_calendar_styling(@all_users),
              inner_html: method(:heatmap_calendar_inner_html) }  %>
</div>

<div style="display:inline-block; float:right;
  width:20%; margin-top:5%;">
  <% if @slot && @available_students %>
    <h2>Slot: <%= @slot.to_s %> </h2>
    <h3> Available students:</h3>
    <% if @available_students.length > 0 %>
      <ul>
      <% @available_students.each do |s| %>
        <li><%= s.first_name %> <%= s.last_name %> </li>  
      <% end %>
      </ul>
    <% else %>
      <h3> None </h3>
    <% end %>
  <% end %>
</div>
