<% unless @selected_chair.nil? || @selected_user.nil? %>
  <%= javascript_pack_tag 'shift_creation_calendar' %>
<% end %>

<%= javascript_pack_tag 'chair_view' %>

<div id="grid-wrapper" class='container-fluid'>
  <div id="users-list">
    <%= render partial: 'users_list', locals: { selected_user: @selected_user,
	                                        users: @users,
                                                selected_chair: @selected_chair,
                                                location: @location }%>
  </div>
  
  <div id="sched-select-container" class="container">
    <%= select_tag("locations", options_for_select(location_options(@location.branch), scheduling_admin_dashboard_index_url(location: @location)), onchange: "window.location.href=this.value") %>
  </div>


  <% if @selected_chair %>
    <span id="sched-panel">
      <%= form_with(url: "/shifts/calendar_create.json",
                   method: "post",
                   html: { id: "shift-creation-form" },
                   local: "true") do |form| %>
        <h2> <%= Slot.from_chair(@selected_chair).to_s%> </h2>
        <%= render partial: 'shift_calendar',
            locals: {
	      users: @users,
	      scheduled_users: @scheduled_users,
	      day: Chair.days[@selected_chair.day],
	      selected_user: @selected_user,
              time_range: (@selected_chair.start_time...@selected_chair.end_time),
              table_id: "shifts-calendar",
              styling: shift_scheduling_styling(@location),
	      selected_chair: @selected_chair,
	      location: @location}  %>
        <% if @selected_user %>
          <%= hidden_field_tag 'location', @location.id %>
          <%= hidden_field_tag 'user', @selected_user.id %>
          <%= hidden_field_tag 'chair', @selected_chair.id %>
          <%= form.submit "Save", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <%= link_to('Done',
	  scheduling_admin_dashboard_index_url(location: @location,
	  user: @selected_user), id: 'chair-done', class: 'btn btn-primary') %>
    </span>
    <% else %>
      <span id="sched-calendar">
      <%= render partial: 'calendar_bare',
          locals: { styling: scheduling_calendar_styling(@location, @users),
          inner_html: scheduling_calendar_inner_html(@location, @selected_user, @users),
          table_id: 'chairs-calendar' } %>
      </span>
    <% end %>
</div>
