<h1> Admin Dashboard - Users </h1>

<div style="display:inline-block; float:left; 
  width:60%; padding-bottom:80px; overflow: auto; height: 100vh" >
  <table id="admin-dashboard-users">
    <thead>
      <tr>
        <th scope='col'>Users</th>
        <th scope='col'>Percent of target hours</th>
        <th scope='col'>Name</th>
      </tr>
    </thead>
    <tbody>
      <% formatted_user_table(@users).each do |row| %>
        <% user = row[:user]%>
        <tr>
          <td> <%= user.username %> </td>
          <td> <%= row[:msg] %> </td>
          <td>
            <% if user.first_name.present? && user.last_name.present? %>
              <a href="<%= users_admin_dashboard_index_url(user_id: user.id) %>"
                  id="user_id_<%= user.id %>">
                <%= user.first_name%> <%= user.last_name %>
              </a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div style="display:inline-block; float:right; 
  width:40%; margin-top:-3%; padding-left:30px">
  <% if @selected_user %>
    <h3>
      <%= @selected_user.first_name %> <%= @selected_user.last_name %>'s 
      Availabilities
    </h3>
    <ul>
      <% if @availabilities.empty? %>
        <p>None</p>
      <% else %>
        <% @availabilities.each do |avail| %>
          <li> <%= avail.day %> <%= display_time(avail.start_time) %> to 
          <%= display_time(avail.end_time) %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
