<div class="container">
  <strong>Name:</strong> <%= user.full_name %> <br />
  <strong>NetID:</strong> <%= user.username %> <br />
  <strong>Email:</strong>  <%= user.email.blank? ? "None" : user.email %> <br />
  <strong>Branch:</strong>  <%= user.branch.blank? ? "None" : user.branch&.full_title %> <br />

  <% if user.student? %>
    <strong>Minimum hours:</strong>  <%= user.min_hours.blank? ? "No preference" : user.min_hours %> <br />
    <strong>Maximum hours:</strong>  <%= user.max_hours.blank? ? "No preference" : user.max_hours %> <br />
    <strong>Target hours:</strong> <%= user.target_hours.blank? ? "No preference" : user.target_hours %> <br />
    <strong>Minimum shift length: </strong> <%= user.min_shift.blank? ? "No preference" : user.min_shift %> <br />
    <strong>Maximum shift length: </strong> <%= user.max_shift.blank? ? "No preference" : user.max_shift %> <br />

    <strong>Currently a lead?:</strong>  <%= user.lead ? "Yes" : "No" %> <br />
    <strong>On Yale meal plan?:</strong>  <%= user.meal_plan ? "Yes" : "No" %> <br />
    <strong>Special requests on file:</strong>  <%= user.special_requests.blank? ? "None" : user.special_requests %> <br />
  <% end %>
</div>
