<%= render 'application/student_step_bar', active: 1, user: @user %> 

<div class="container">
  <h2>Add User Information</h2>

  <%= form_for @user, url: { action: :update, controller: :user, id: @user.id }, class: 'needs-validation' do |f| %>
    <div class="form-group">
      <%= f.label :first_name, class: 'label-required' %>
      <%= f.text_field :first_name, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, class: 'label-required' %>
      <%= f.text_field :last_name, class: 'form-control', required: true  %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'label-required' %>
      <%= f.email_field :email, class: 'form-control', required: true  %>
    </div>
    <div class="form-group">
      <%= f.label :branch, class: 'label-required' %>
      <%= f.collection_select :branch_id, Branch.all, :id, :full_title, { include_blank: true }, { class: 'form-control', required: true } %>
    </div>

    <% if @user.student? %>
      <h3>Requested Hours</h3>
      <fieldset class="form-group">
        <legend>How many total hours would you like to work?</legend>
        <div class="form-row">
          <div class="form-group col">
            <%= f.label :min_hours, "Minimum hours", class: 'label-required' %>
            <%= f.number_field :min_hours, class: 'form-control',
              min: 2, max: 19, required: true  %>
          </div>
          <div class="form-group col">
            <%= f.label :max_hours, "Maximum hours", class: 'label-required' %>
            <%= f.number_field :max_hours,
              class: 'form-control', min: 2, max: 19, required: true %>
          </div>
          <div class="form-group col">
            <%= f.label :target_hours, "Target hours", class: 'label-required' %>
            <%= f.number_field :target_hours, class: 'form-control',
              min: 2, max: 19, required: true  %>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <legend>How long do you want your shifts to be?</legend>
        <div class="form-row">
          <div class="form-group col">
            <%= f.label :min_shift, "Minimum shift length", class: 'label-required' %>
            <%= f.number_field :min_shift, class: 'form-control',
              min: 1, max: 19, required: true %>
          </div>
          <div class="form-group col">
            <%= f.label :max_shift, "Maximum shift length", class: 'label-required' %>
            <%= f.number_field :max_shift, class: 'form-control',
              min: 1, max: 19, required: true %>
          </div>
        </div>
      </fieldset>

      <h3>Additional Information</h3>
      <fieldset class="form-group">
        <legend>
          <div class="form-check form-check-inline">
            <%= f.label :lead, 'Are you currently a lead?', class: 'form-check-label label-required' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.radio_button :lead, true, checked: @user.lead, class: 'form-check-input' %>
            <%= f.label :lead, "Yes", :value => "true", class: 'form-check-label'  %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.radio_button :lead, false, checked: !@user.lead, class: 'form-check-input' %>
            <%= f.label :lead, "No", :value => "false" %>
          </div>
        </legend>
      </fieldset>

      <fieldset class="form-group">
        <legend>
          <div class="form-check form-check-inline">
            <%= f.label :meal_plan, 'Are you on the Yale meal plan?', class: 'form-check-label label-required' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.radio_button :meal_plan, true, checked: @user.meal_plan, class: 'form-check-input' %>
            <%= f.label :meal_plan, "Yes", :value => "true", class: 'form-check-label'  %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.radio_button :meal_plan, false, checked: !@user.meal_plan, class: 'form-check-input' %>
            <%= f.label :meal_plan, "No", :value => "false" %>
          </div>
        </legend>   
      </fieldset>

      <div class="form-group">
        <%= f.label :special_requests, "Any special requests? (Maximum 150 characters)" %>
        <%= f.text_field :special_requests, class: 'form-control', autocomplete: 'off', maxlength: 150  %>
      </div>
    <% end %>

    <%= f.submit 'Next', class: 'btn btn-yale btn-lg', role: 'navigation' %>
  <% end %>
</div>
