<div class="container">
  <h2><%= @user.full_name %></h2>

  <h3>Current profile information:</h3>
    <%= render 'info', user: @user %>
  <br />
  <%= link_to "Edit Profile", edit_user_path(current_user), type: 'button', class: "btn btn-yale" %>
</div>
