<%= render 'application/student_step_bar', active: 4, user: user %>
  
<div class="container">
  <h2>Review and Submit</h2>

  <% if user.submitted %>
    <div class="card">
      <div class="card-body locked-message">
        <p class="card-text">
        Your information is now locked. If you need to request a change, please contact your manager.
      </p>
      </div>
    </div>
  <% end %>

  <h3>User Information</h3>
  <%= render 'user/info', user: user %>

  <% if user.branch&.locations.present? %>
    <h3>Location Preferences</h3>
    <%= render 'user_preferred_locations/index', user: user %>
  <% end %>
  

  <h3>Availability</h3>
  <%= render 'availabilities/table', 
      availabilities: user.availabilities.order('day ASC, start_time ASC') %>
  <% if !user.submitted %>
    <%= form_tag submit_user_path(user), method: :post do %>
      <%= submit_tag 'Submit', class: 'btn btn-yale btn-lg',
        data: { confirm: 'Are you sure? This action cannot be undone.' } %>
    <% end %>
  <% end %>
</div>
