<% if @user.student? %>
  <%= render 'dashboards/student_dashboard', user: @user %>
<% end %>

<div>
  <% if @user.admin? %>
    <%= button_to "Unsubmitted Report", unsubmitted_report_dashboards_path, method: 'get' %>
    <%= button_to "Send Reminder Email", email_incomplete_path, method: 'get', data: {confirm: "Are you sure? This action will email all users who have not yet submitted their information."} %>
  <% end %>
</div>

<div>
  <% if @user.admin? %>
    <%= button_to "Export availabilities", export_availabilities_path, method: 'get' %>
    <%= button_to("Delete all availabilities", delete_availabilities_path,
        method: 'delete', data: { confirm: 'Do you really want to delete all availabilities in your branch?'}) %>
    <%= button_to "Export shifts to Deputy", deputy_export_shifts_path, method: 'get' %>
  <% end %>
</div>
