<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Scheduler!</h1>
    <p>Some description text here.</p>
    <div class="row row-eq-height justify-content-center">
      <%= button_to 'Log in', new_user_session_path, :class => 'btn btn-lg btn-primary btn-blue-background btn-blue-outline'%>
    </div>
  </div>
</div>
