<h1> Unsubmitted Report </h1>

<div>
  <table id="unsubmitted-report">
    <thead>
      <tr>
        <th scope='col'>Username</th>
        <th scope='col'>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @unsubmitted_users.each do |user| %>
        <tr>
          <td> <%= user.username %> </td>
          <td>
            <% if user.first_name.present? && user.last_name.present? %>
              <%= user.first_name + user.last_name %>
            <% end %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>