export function updateHours()
{
    let minuteStep = <%= MINUTE_STEP %>
    let numHours = $(".<%= HIGHLIGHT_STR%>").length*minuteStep/60.0
    numHours += $(".<%= SUBMIT_STR%>").length*minuteStep/60.0
    let isPlural = numHours == 1 ? "" : "s"
    $("#number_of_hours").html(`${numHours} hour${isPlural} selected`)
}
