
let setting = true
let dragging = false

// @param cal_cell [DOM object] The td on which the mousedown is triggered
function mousedown_cal(cal_cell)
{
    dragging = true;
    setting = !is_on(cal_cell)
    set_highlighted(cal_cell, setting)
}

// @param cal_cell [DOM object] The td on which the mouseover is triggered
function mouseover_cal(cal_cell)
{
    if (dragging)
    {
        set_highlighted(cal_cell, setting)
    }
}

// handles mouseup event within calendar (specifically surrounding div)
function mouseup_cal()
{
    dragging = false;
}

// @param on [boolean] if true, cal_cell is set as available, otherwise cal_cell
// is set as unavailable
// @param cal_cell [DOM object] the td to be amended
function set_highlighted(cal_cell, on)
{
    let highlight_str = "<%= HIGHLIGHT_STR %>"
    let paintable_str = "<%= PAINTABLE_STR %>"
    if (!cal_cell.className.includes(paintable_str)) { return; }

    
    if (on)
    {
        cal_cell.className += " " + highlight_str
    }
    else
    {
        let classes = cal_cell.className.split(" ")
        cal_cell.className = classes.filter(x => x != highlight_str).join(" ")
    }
}

// param @cal_cell [DOM object]
// returns true if cal_cell is selected as available, false otherwise
function is_on(cal_cell)
{
    let highlight_str = "<%= HIGHLIGHT_STR %>"
    if (cal_cell.className.includes(highlight_str))
    {
        return true;
    }
    return false;
}

function mouseleave_cal()
{
    dragging = false;
}

export { mousedown_cal, mouseover_cal, mouseup_cal, mouseleave_cal }
