// collects the ids of all available cells within form 
// @param form [DOM object] the form containing the calendar
export function collectHighlighted()
{
    $(".<%= HIGHLIGHT_STR %>").each(function () {
        var newField = $('<input name="highlightedIds[]" type="hidden">').val(this.id)
        newField.appendTo(this)
    })
    this.submit
}
