.calendar-table {
  user-select: none;
  text-align: center;
  table-layout: fixed;
  width: 100%;

  th {
    background-color: lightgray;
    font-size: 14px;
    border-bottom: none;
  }

  td {
    cursor: pointer;
    width: 25%;
    line-height: normal;
  }

  td, th {
    border-color: black;
    padding: 0;
    overflow: hidden;
  }

  caption {
    caption-side: top;
    text-align: left;
    color: black;
  }   
}

.border__dashed--top {
  border-style: dashed solid solid solid;
}
.border__dashed--bottom {
  border-style: solid solid dotted solid;
}

#time_header {
  width: 100px;
  visibility: hidden;
}

// for student input calendar
td.submitted {
  background-color: darkgray;
  cursor: default;
}

td.highlighted{
  background-color: lightgreen;
}

.delete-button {
  height: 21px;
  font-size: 10px;
  vertical-align: top;
}

th.selected, td.selected {
    border-left-color: #1589ff;
    border-left-width: 3px;
    border-right-color: #1589ff;
    border-right-width: 3px;
}

thead > tr:first-child .selected{
    border-top-color: #1589ff;
    border-top-width: 3px;
    border-bottom-color: #1589ff;
    border-bottom-width: 3px;
}

tbody > tr:last-child .selected{
    border-bottom-color: #1589ff;
    border-bottom-width: 3px;
}


.selected-user {
    border-style: solid;
    border-color: #1589ff;
    border-width: 3px;
}
    
