html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

ul.footer-list {
  margin-bottom: 0;

  li {
    display: inline;
    list-style-type: none;
    padding-left: 5px;
  }

  span.right {
    float:right;
    padding-right: 5px;
  }
}
