[class*='heatmap-color-'] {
    background-color: rgba(8, 104, 172, 1);
}

.heatmap-color-1 {
    background-color: rgba(240, 249, 232, 1);
}

.heatmap-color-2 {
    background-color: rgba(204, 235, 197, 1);
}

.heatmap-color-3, .heatmap-color-4, .heatmap-color-5 {
    background-color: rgba(168, 221, 181, 1);
}

.heatmap-color-6,
.heatmap-color-7,
.heatmap-color-8,
.heatmap-color-9,
.heatmap-color-10 {
    background-color: rgba(123, 204, 196, 1);
}

.heatmap-color-11,
.heatmap-color-12,
.heatmap-color-13,
.heatmap-color-14,
.heatmap-color-15,
.heatmap-color-16,
.heatmap-color-17,
.heatmap-color-18,
.heatmap-color-19,
.heatmap-color-20 {
    background-color: rgba(67, 162, 202, 1)
}
