#grid-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    height: 80vh;
    grid-gap: 10px;
}

#users-list {
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
}


#filter-icon {
    display: none;
}

#sched-select-container {
    grid-column: 1;
    grid-row: 1;
    align-items: center;    
}

#sched-calendar{
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

#sched-panel {
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
}

.lead-icon {
    color: #7f00ff;
    font-size: 0.7em;
}

.special-request-icon {
    color: #ff0000;
    font-size: 0.7em;
}

.chair {
    background-color: lightgrey;
    border-left-color: black;
    border-right-color: black;
    border-left-width: 3px;
    border-right-width: 3px;
}

.selected-chair {
    background-color: yellow;
}

.top-of-chair {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: black;
    border-top-color: black;
}

.bottom-of-chair {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
}

td.scheduled {
    background: repeating-linear-gradient(
	45deg, darkgreen, darkgreen 5px, white 5px, white 15px
    );
    cursor: default;
}

td.unavailable {
    background: repeating-linear-gradient(
	45deg, #ebebe4, #ebebe4 5px, white 5px, white 15px
    );
    cursor: default;
}

td.scheduled-here {
    background: darkgreen;
    cursor: default;
}

.greyed-out {
    opacity: 0.5;
}

#mini-calendar {
    border-collapse: separate;
    border-spacing: 2px 0px;
}

#mini-calendar th.times-not-displayed {
    font-size: 3px;
}

#mini-calendar td {
    font-size: 5px;
}

#mini-calendar th {
    font-size: 10px;
    border: none;
    background-color: transparent
}

#mini-calendar td {
    border: none;
}
#mini-calendar td.mini-available {
    background-color: lightgrey;
    border: solid;
    border-color: lightgrey;
}

#mini-calendar td.mini-scheduled {
    background-color: black;
    border: solid;
    border-color: black;
}

#mini-calendar th:first-child{
    width: 40px;
}

.mini-top{
    border-radius: 10px 10px 0px 0px;
}

.mini-bottom{
    border-radius: 0px 0px 10px 10px;
}

.top-of-chair div{
    color: black;
    font-size: 8pt
}

.chair.no-avail-alert{
    border-left-color: red;
}
