.users-list {
  background-color: lightgrey;
  padding: 12px;

  .card-header {
    background-color: white;
    border-bottom: none;
    padding: 0px;
  }

  .card {
    padding: 5px;
  }

  .card-body {
    padding-top: 0px;
  }

  .user {
    text-decoration: none;
  }

  .user__heading {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .user__heading--top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
