@font-face {
  font-family: "yalenew";
  src: url("../fonts/yale-fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.eot");
  src: url("../fonts/yale-fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/yale-fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.woff2") format("woff2"),
  url("../fonts/yale-fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.woff") format("woff"),
  url("../fonts/yale-fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yalemarks";
  src: url("../fonts/yale-fonts/YaleNew/YaleNew-marks/yalemarks-webfont.eot");
  src: url("../fonts/yale-fonts/YaleNew/YaleNew-marks/yalemarks-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/yale-fonts/YaleNew/YaleNew-marks/yalemarks-webfont.ttf") format("truetype"),
  url("../fonts/yale-fonts/YaleNew/YaleNew-marks/yalemarks-webfont.woff") format("woff"),
  url("../fonts/yale-fonts/YaleNew/YaleNew-marks/yalemarks-webfont.svg#yalenewmarks") format("svg");
  font-weight: normal;
  font-style: normal;
}