<% days ||= (0..6) %>
<% time_range ||= (800...2400) %>
<% styling ||= proc { {} } %>
<% inner_html ||= proc { nil } %>
<% table_id ||= 'calendar-table' %>
<% display_times ||= times(time_range).filter { |t| time_displayed?(t) } %>
<% day_names ||= days.map {|x| Availability.days.keys[x]} %>
<% time_disp_abbrev ||= false %>
<div id="cal_div" class="container" >
  <table class="table calendar-table" id="<%= table_id %>">
    <thead>
      <tr>
        <th scope="col" id="time_header"></th>
        <% days.each_with_index do |day, index| %>
          <th scope="col" id="<%= day %>"><%= day_names[index] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% times(time_range).each do |time| %>
        <tr id="<%= time %>">
          <% if display_times.include?(time) %>
            <th scope="row"><%= display_time(time, abbreviated: time_disp_abbrev) %></th>
          <% else %>
            <th scope="row" class="times-not-displayed">&nbsp</th>  
          <% end %>
          <% days.each do |day| %>
            <% id = time_to_id(day, time) %>
            <%= content_tag :td, {id: id}.merge(styling.call(id)) do -%>
              <%= inner_html.call(id) %>
            <% end -%>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
