<footer class='footer text-muted'>
  <ul class='footer-list'>
    <span>
      <li>Built by the <%= link_to 'Yale Student Developer and Mentorship Program', 'https://yalestc.github.io', 'aria-label': 'Yale Student Developer and Mentorship Program (external link)' %></li>
    </span>
    <span class='right'>
      <li><%= link_to 'Accessibility at Yale', 'https://usability.yale.edu/web-accessibility/accessibility-yale', 'aria-label': 'Accessibility at Yale (external link)' %></li>
      <li><%= link_to 'Contact the developers at app-dev@yale.edu', 'mailto:app-dev@yale.edu'%></li>
    </span>
  <ul>
</footer>
