<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-decoration-none">Scheduler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path , class: "nav-link text-decoration-none" %>
      </li>
      <% if current_user&.admin? %>
        <%= link_to 'Schedule View', scheduling_admin_dashboard_index_path, class: "nav-link text-decoration-none" %>
        <%= link_to 'User View', users_admin_dashboard_index_path, class: "nav-link text-decoration-none" %>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in?%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-decoration-none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username%>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.role == 'admin' %>
              <%= link_to "Profile", user_path(current_user) , class: "dropdown-item text-decoration-none" %>
              <%= link_to "Admin page", admin_root_path, class: "dropdown-item text-decoration-none" %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%= link_to "Log Out", destroy_user_session_path , class: "dropdown-item text-danger text-decoration-none", method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: "nav-link text-decoration-none" %>
        </li>
      <% end %>

    </ul>
</nav>
