<% if user && user.student? && !user.submitted %>
  <div class="row justify-content-center">
    <nav class="btn-group" aria-label="student form steps" role='list'>
      <%= link_to '1. Add User Information', edit_user_path(user),
        type: 'button', class: get_bar_class(1, active),
        'aria-current': active?(1, active) ? 'step' : '', role: 'listitem' %>
      <%= link_to '2. Add Location Preferences', new_user_preferred_location_path,      
        type: 'button', class: get_bar_class(2, active),
        'aria-current': active?(2, active) ? 'step' : '', role: 'listitem' %>
      <%= link_to '3. Add Availability', calendar_availabilities_path,
        type: 'button', class: get_bar_class(3, active),
        'aria-current': active?(3, active) ? 'step' : '', role: 'listitem' %>
      <%= link_to '4. Review and Submit', dashboards_path,
        type: 'button', class: get_bar_class(4, active),
        'aria-current': active?(4, active) ? 'step' : '', role: 'listitem' %>
    </nav>
  </div>
<% end %>
