<div class="container">
  <%= form_for availability do |form| %>
    <div class="form-group">
      <%= label_tag(:availability_day, "Day") %>
      <%= form.select :day, Date::DAYNAMES, {}, { class: "form-control col-md-4" } %>
    </div>
    <div class="form-row form-group">
      <div class="form-group col">
        <%= label_tag(:availability_start_time, "Start Time") %>
      <%= form.select :start_time, options_for_start, {}, { class: "form-control" } %>
      </div>
      <div class="form-group col">
        <%= label_tag(:availability_end_time, "End Time") %>
      <%= form.select :end_time, options_for_end, {}, { class: "form-control" } %>
      </div>
    </div>
    <div class="form-group">
      <%= form.submit "Add Availability", class: "btn btn-yale btn-lg" %>
    </div>
  <% end %>
</div>
