<div>
  <table class="availabilities-table" tabindex="0" aria-label='Availabilities'>
    <caption>
      <%= hours_string(sum_hours(availabilities)) %> selected
    </caption>
    <thead>
      <tr>
        <th scope='col'>Day</th>
        <th scope='col'>Start Time</th>
        <th scope='col'>End Time</th>
        <th scope='col'>Delete Availability</th>
      </tr>
    </thead>
    <tbody>
      <% availabilities&.each do |availability| %>
        <tr>
          <td><%= availability.day %></td>
          <td><%= display_time(availability.start_time) %></td>
          <td><%= display_time(availability.end_time) %></td>
          <td><%= button_to 'X', availability_path(availability.id), 
            method: :delete, data: { confirm: 'Are you sure?' },
            disabled: availability.user.submitted,
            class: 'btn btn-danger btn-sm', 'aria-label': 
            "Delete Availability #{availability.day} #{display_time(availability.start_time)} to #{display_time(availability.end_time)}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
