<%= javascript_pack_tag 'calendar' %>

<%= render 'application/student_step_bar', active: 3, user: current_user %> 

<div class="container">
  <h2>Add Availability</h2>
  <%= link_to 'Screenreader-accessible availability creation', new_availability_path, class: "sr-only sr-only-focusable" %>
</div>

<div id="cal_div" class="container" aria-hidden='true'>
  <%= form_with(url: "/availabilities/calendar_create.json", method: "post", 
                html: { id: "availabilities_form" }, local: "true") do |form| %>
    <table class="table calendar-table" id="calendar-table">
      <caption>
        Please select twice as many hours as you would like to work:
        <span id="number_of_hours" style="float:right">
          0 hours selected
        </span>
      </caption>
      <thead>
        <tr>
          <th scope="col" id="time_header"></th>
          <% Availability.days.keys.each do |day| %>
            <th scope="col" id="<%= day %>"><%= day %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% times.each do |time| %>
          <tr id="<%= time %>">
            <% if time_displayed?(time) %>
              <th scope="row" class='<%= get_class(time) %>'><%= display_time(time) %></th>
            <% else %>
              <th scope="row" class='<%= get_class(time) %>'>&nbsp</th>
            <% end %>
            <% Availability.days.each do |day, i| %>
              <td id='<%= time_to_id(i, time) %>' class='<%= get_class(time, i) %>' align="right">
                  <%= delete_availability_button(i, time, @avails_hash) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div role='navigation'>
      <%= link_to "Back", new_user_preferred_location_path, type: 'button', role:"navigation", class: "btn btn-secondary btn-lg" %>
      <%= form.submit('Next', class: "btn btn-yale btn-lg", role: "navigation") %>
    </div>
  <% end %>
</div>
