<%= render 'application/student_step_bar', active: 3, user: current_user %>

<div class="container">
  <h2>New Availability</h2>

  <%= render 'availabilities/form', availability: @availability %>
  
  <h2>Availabilities</h2>
  <%= render 'availabilities/table', availabilities: @availabilities %>

  <div role='navigation'>
    <%= link_to 'Back', new_user_preferred_location_path, type: 'button', role:"navigation", class: "btn btn-secondary btn-lg" %>
    <%= link_to 'Next', dashboards_path, type: 'button', role: 'navigation', class: 'btn btn-yale btn-lg' %>
  </div>
</div>

