<!DOCTYPE html>
<html>
  <head>
    <title>StcScheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if ENV['MALLORY_URL'].present? %>
      <link href='<%= ENV['MALLORY_URL'] %>' rel='stylesheet'>
    <% end %>

  </head>

  <body>
    <%= render 'nav' %>
    <div class="container p-1">
      <%= render 'availabilities/due_date', { user: current_user } %>
      <%= render 'flashes' %>
    </div>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
